
*{
    padding:10px;
}

form{
    
    padding:10px,10px,10px,10px;
    border:0 px;
    color: white;
    
}

body{
    background-image : url(wallpaper_sunny.jpg);
    background-size: cover;
    background-attachment: fixed;
}

input[type="submit"]
{
    background-color: rgb(230, 29, 29);
    color:white;
    padding:5px,5px;
    border:none;
    border-radius:3px;
    cursor:zoom-in;
    width:50%;
    height:70%;
    font-size: 25px;
}

h1{
    color: rgb(237, 248, 87);
}